@using Microsoft.AspNetCore.Authentication
@model ImageGallery.Client.ViewModels.GalleryIndexViewModel

<div class="bottomMarginDefault">
</div>

<div class="container">
   
    <h1>ID_TOKEN</h1>
    <p>
        @await Context.GetTokenAsync("id_token");
    </p>
    <h1>
        ACCESS_TOKEN
    </h1>
    <p>
        @await Context.GetTokenAsync("access_token");
    </p>
    
    <h1>CLAIMS</h1>
    @foreach (var claim in User.Claims)
    {
        <p>
            @claim.Type - @claim.Value
        </p>
    }
    
    <h1>IDENTITIES</h1>
    @foreach (var identity in User.Identities)
    {
        <p>
            Name : @identity.Name <br/>
        </p>
        <ul>
            @foreach (var claim in identity.Claims)
            {
                <li>
                    @claim.Type - @claim.Value
                </li>
            }
        </ul>
        <hr/>
    }

    @foreach (var item in Model.Images)
    {
        <div class="pull-left col-md-4">
            <div>
                <img class="thumbnailImage" src="@("http://localhost:1601/images/" + item.FileName)"/>
            </div>
            <div>
                <div class="h5">@item.Title</div>
                <div class="bottomMarginDefault">
                    <a asp-action="EditImage" asp-controller="Gallery" asp-route-id="@item.Id">Edit title</a> |
                    <a asp-action="DeleteImage" asp-controller="Gallery" asp-route-id="@item.Id">Delete image</a>
                </div>
            </div>
        </div>
    }
</div> 
